[submodule "clickbait17-validation"]
	path = clickbait17-validation
	url = https://github.com/mholdg16/clickbait17-validation.git
	branch = master
[submodule "clickbait-label-system"]
	path = clickbait-label-system
	url = https://github.com/mholdg16/clickbait-label-system.git
[submodule "p1_presentation"]
	path = p1_presentation
	url = https://github.com/mholdg16/p1_presentation.git
